<div class="container mt-4  " style="max-width: -webkit-fill-available;">

  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Analisis de Estacionalidad</h5>
        <p class="card-text">Los topics mas repetidos por mes</p>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Presentadores mas sobresalientes</h5>
        <p class="card-text"> Prsentadores que mas vistas recibieron</p>
      </div>
    </div>
    <!-- Agrega más cards según sea necesario -->
  </div>

</div>

<!-- Sección de Gráficos -->
<div class="container mt-6" style="max-width: -webkit-fill-available;">
  <div class="row">
    <div class="col-md-6 ">
      <!-- Gráfico de Barra -->

      <canvas id="analisisEstacionalidad" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6">
      <!-- Gráfico Barra -->
      <canvas id="graficoBarra" width="400" height="400"></canvas>

    </div>
  </div>
</div>

<script>
// Obtener los datos de Python y convertirlos a JavaScript
var dataTopicsByMonth = JSON.parse('{{ data_topics_by_month|safe }}');

// Inicializar variables para el gráfico
var ctx = document.getElementById('analisisEstacionalidad').getContext('2d');
var datasets = [];
var labels = [];

// Procesar datos para el gráfico de líneas
for (var month in dataTopicsByMonth) {
    if (dataTopicsByMonth.hasOwnProperty(month)) {
        labels.push(month);  // Agregar mes como etiqueta
        
        // Obtener el tema más repetido para este mes
        var topics = dataTopicsByMonth[month];
        var topicCounts = {};
        
        // Contar la frecuencia de cada tema
        topics.forEach(function(topic) {
            if (topic in topicCounts) {
                topicCounts[topic]++;
            } else {
                topicCounts[topic] = 1;
            }
        });
        
        // Encontrar el tema con mayor frecuencia
        var maxTopic = null;
        var maxCount = -1;
        
        Object.keys(topicCounts).forEach(function(key) {
            if (topicCounts[key] > maxCount) {
                maxTopic = key;
                maxCount = topicCounts[key];
            }
        });

        // Crear un nuevo dataset para este mes con el tema más repetido
        datasets.push({
            label: maxTopic,
            data: [{ x: month, y: maxCount }],
            borderColor: getRandomColor(),  // Color aleatorio para cada mes (implementa tu lógica de color)
            fill: false
        });
    }
}

// Configuración del gráfico
var chartOptions = {
    type: 'line',
    data: {
        labels: labels,
        datasets: datasets
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    stepSize: 1  // Establece el incremento de 1 en 1 en el eje y
                }
            }]
        }
    }
};

// Crear el gráfico de líneas
var lineChart = new Chart(ctx, chartOptions);

// Función para generar colores aleatorios
function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}


</script>
  <script>
  
var data_top_most_viewed_presenter = JSON.parse('{{ data_top_most_viewed_presenter|safe }}');

if (typeof data_top_most_viewed_presenter === 'string') {
    try {
      data_top_most_viewed_presenter = JSON.parse(data_top_most_viewed_presenter);
    } catch (e) {
        console.error('Error al analizar JSON:', e);
        data_top_most_viewed_presenter = [];
    }
}
// Definir colores diferentes para cada barra
var colores = [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(153, 102, 255, 0.5)'
        ];

        var coloresBorde = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)'
        ];

        //console.log('data_top_most_viewed_presenter:', data_top_most_viewed_presenter);
var datosBarra = {
    labels: data_top_most_viewed_presenter.map(item => item.full_name),
    datasets: [{
        label: 'Cantidad de Vistas',
        data: data_top_most_viewed_presenter.map(item => item.views),
        backgroundColor: colores,
        borderColor: coloresBorde,
        borderWidth: 1
    }]
};

var opciones = {
    responsive: true,
    maintainAspectRatio: false,
};

var ctxBarra = document.getElementById('graficoBarra').getContext('2d');
new Chart(ctxBarra, {
    type: 'bar',
    data: datosBarra,
    options: opciones,
});
  
  </script>