<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Mi Dashboard</span>
    <div class="col-md-6">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search"
          placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success my-2 my-sm-0"
          type="submit">Buscar</button>
        <!--Button for go to dashboard_felxmonster-->
        <a href=""
          class="btn btn-outline-success my-2 my-sm-0" type="submit">Area
          de trabajo</a>
      </form>

    </div>
    <div class="col-md-6">

      <!--Aqui van los filtros-->
      <div class="btn-group" role="group" aria-label="Filtros de tiempo">
        <button type="button" class="btn btn-secondary" id="filtroYear">Año</button>
        <button type="button" class="btn btn-secondary" id="filtroMes">Mes</button>
        <button type="button" class="btn btn-secondary"
          id="filtroSemana">Semana</button>
      </div>

    </div>
  </nav>