<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Proximos Productos a Vencer</h3>
            {% if data_response_visitas %}
                <p>Proximos Productos a Vencer en las siguientes 2 semanas</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha de publicacion</th>
                            <th>Stock</th>
                            <th>Alerta</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for product in data_response_visitas %}
                      <tr>
                          <td>{{ product.name }}</td>
                          <td>{{ product.description }}</td>
                          
                          <td>
                              <i class="fas fa-exclamation-triangle text-danger"></i>
                          </td>
                      </tr>
                  {% endfor %}
                  
                    </tbody>
                </table>
            {% else %}
                <p>No hay datos disponibles</p>
            {% endif %}
        </div>
    </div>
</div>
